/* Header Styles */
.header {
  padding: var(--spacing-md);
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--spacing-md);
}

.image-container {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
}

.text-section .name {
  font-family: 'Comfortaa';
  font-size: 28px;
  font-weight: 700;
  margin: 0;
  line-height: 1.2;
}

.text-section .position {
  font-family: 'Comfortaa';
  font-size: 20px;
  font-weight: 600;
  color: var(--color-text);
  margin-top: 8px;
  margin-bottom: 20px;
  line-height: 1.2;
}

.text-section .description {
  font-family: 'Comfortaa';
  margin-top: 50px;
  margin-bottom: 16px;
  max-width: 820px;
  font-size: var(--font-size-lg);
  line-height: 42px;
}

/* Image Section Styles */
.image-thumbnail {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* Card Component */
.case-study-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--spacing-md);
  margin: var(--spacing-lg) auto;
}

.card {
  background: rgba(242, 245, 255, 1);
  border-radius: 22px;
  overflow: hidden;
  max-width: 620px;
  max-height: 730px;
  padding: 30px 40px 30px 40px;
  transition: all 0.3s ease;
}

.case-study-card-header {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.case-study-card-header .title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.case-study-card-header .title {
  font-size: var(--font-size-xl);
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

.case-study-card-header .header-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.case-study-card-header .date {
  font-size: var(--font-size-base);
  font-weight: 500;
}

.case-study-card-header .tag-box {
  background: rgba(214, 225, 255, 0.46);
  font-size: var(--font-size-sm);
  padding: 4px 12px;
  border-radius: 6px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  width: fit-content;
}

.case-study-card-body p {
  font-size: var(--font-size-xl);
  font-weight: 500;
  line-height: 54px;
  margin-bottom: 14px;
}

.case-study-card-body img {
  width: 100%;
  margin-top: 20px;
  max-width: 525px;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Add hover styles for the card and its children */
.card:hover {
  background: rgba(0, 0, 0, 1);
}

.card:hover .case-study-card-header .title,
.card:hover .case-study-card-header .date,
.card:hover .case-study-card-body p {
  color: white;
}

.card:hover .case-study-card-header .tag-box {
  background: rgba(207, 220, 255, 0.23);
  color: white;
}

.card:hover .button {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(2, 12, 48, 1);
}

/* Responsive Styles */
@media (max-width: 968px) {
  .header-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .text-section {
    margin-right: 0;
    margin-bottom: var(--spacing-lg);
  }
}

@media (max-width: 768px) {
  .case-study-cards-container {
    grid-template-columns: 1fr;
  }
} 